.container {
    width: 1230px;
    margin: 0 auto;
}

:root {
    --color-title-dark: #1E1E1E;
    --color-text-dark: rgba(30, 30, 30, 0.9);

    --font-title: 100px;
    --font-title-article: 70px;
    --font-text-article: 16px;
    --font-text-note: 14px;
    --font-date-article: 35px;
    --font-subtitle-article: 43px;
    --font-book-date: 20px;
    
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 150%;
}

/* menu */

.header-menu {
    padding-top: 50px;
    padding-bottom: 195px;
}

.header-menu__list {
    display: flex;
    justify-content: space-between;
}

.header-menu__link {
    text-decoration: none;
    font-size: var(--font-text-article);
    color: var(--color-text-dark);
    text-transform: uppercase;
    position: relative;
}

.header-menu__link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: var(--color-text-dark); /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.header-menu__link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px; /* Высота линии */
    background-color: var(--color-text-dark); /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

/* HERO */

.hero {
    padding-bottom: 180px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    font-size: var(--font-title);
    position: relative;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.last-name {
    position: absolute;
    font-size: 110px;
    top: 500%;
    left: 64%;
}

.white-letters {
    position: absolute;
    color: white;
    font-size: 110px;
    top: 500%;
    left: 64%;
    padding-left: 20px;
}

.signature {
    position: absolute;
    top: 55%;
}

.hero__descr {
    font-size: var(--font-text-note);
    width: 228px;
    position: absolute;
    top: 105%;
}

.hero__years {
    text-align: right;
    margin-bottom: 22px;
    font-size: 20px;
    font-family: "Prata", serif;
}

/* CHIDHOOD */

.childhood-content {
    display: flex;
    padding-top: 30px;
}


.text {
    width: 236px;
}

.note {
    margin-bottom: 50px;
}

.childhood-content-father {
    width: 1080px;
    /* background-color: rgb(228, 105, 105); */
    display: flex;
    padding-bottom: 65px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.childhood-block-text {
    padding-right: 35px;
}

.childhood-title {
    font-size: 70px;
    font-family: "Prata", serif;
    letter-spacing: 10%;
    word-spacing: normal;
    padding-left: 80px;
    margin-bottom: 55px;
    line-height: 1.2;
}

.childhood-text {
    width: 860px;
    padding-left: 80px;
    padding-bottom: 15px;
    font-size: var(--font-text-article);
    line-height: 150%;
}

.childhood-text:last-child() {
    padding-bottom: 0px;
}


.father-img, .family-img {
    margin-bottom: 10px;
}

.father-img__note {
    font-size: var(--font-text-note);
}

.childhood-content-picture {
    /* width: 966px; */
    display: flex;
    
}

.childhood-content-family {
    width: 1080px;
}

.childhood-block-family {
    width: 1080px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.family-img {
    margin-left: 80px;
}

.family-descr {
    width: 889px;
    margin: 0 auto;
    text-align: left;
    font-size: var(--font-text-note);
    line-height: 150%;
    margin-left: 80px;
}

/* dates block */

.dates__content {
    display: flex;
}

.dates__content-text {
    display: flex;
    justify-content: start;
    width: 1080px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
    padding-top: 110px;
}

.dates-text__year {
    width: 1080px;
    padding-left: 80px;
}

.dates-year, .picture-year, .creation-dates {
    font-size: var(--font-date-article);
    font-family: "Prata", serif;
    padding-bottom: 25px;
}

.dates-text {
    width: 840px;
    padding-bottom: 15px;
}

.dates-text:last-child {
    padding-bottom: 0;
}

.year-1876 {
    margin-bottom: 65px;
}

.years-text {
    width: 540px;
}

.picture-young {
    margin-bottom: 65px;
}

.dates__content-note {
    padding-top: 70%;
}

/* CREATION */

.creation-title {
    font-size: 70px;
    font-family: "Prata", serif;
    margin-bottom: 80px;
    letter-spacing: 10%;
    word-spacing: normal;
    padding-left: 80px;
    line-height: 1.2;
}

.creation-content {
    display: flex;
    /* padding-top: 110px; */
}

.creation-content__block {
    width: 1080px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
    padding-top: 110px;
}

.creation-block-text {
    width: 966px;
    margin-right: 80px;
}

.creation-text:not(:last-child) {
    padding-bottom: 15px;
}

.text--2 {
    margin-bottom: 10px;
}

.creation-content__container {
    margin-left: 80px;
    display: flex;
}

.creation-dates__year:not(:last-child) {
    margin-bottom: 65px;
}

/* Personal life */
.personal-life__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.personal-life__block {
    width: 100%;
    display: flex;
    padding-bottom: 65px;
    padding-top: 110px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.personal-life__text {
    width: 70%;
    margin-right: 30px;
    padding-left: 80px;
}

.personal-life-title {
    font-size: 70px;
    font-family: "Prata", serif;
    width: 100%;
    padding-bottom: 80px;
    letter-spacing: 0.1em;
    word-spacing: normal;
    line-height: 1.2;
}

.personal-life__img {
    width: 30%;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.personal-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.personal-text {
    margin-bottom: 15px;
    padding-left: 0;
}


/* END LIFE */
.end-life {
    padding-bottom: 190px;
}

.end-life__content {
    display: block; /* Теперь элементы будут располагаться вертикально, а не в ряд */
}

.end-life__block {
    width: 1080px;
    padding-bottom: 65px;
    padding-top: 110px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
}

.end-text--1 {
    width: 840px;
}

.end-text:not(:last-child) {
    padding-bottom: 15px;
}

.end-life__text {
    padding-left: 80px;
} 

.end-life-title {
    font-size: 70px;
    font-family: "Prata", serif;
    width: 677px;
    padding-bottom: 80px;
    letter-spacing: 0.1em;
    padding-left: 80px;
    line-height: 1.2;
}

.end-life__img {
    display: block;
    margin-top: 30px;
}

.end-img__block {
    width: 840px;
    padding-left: 80px;
}

.end-img {
    width: 100%; 
    height: auto;
}

.end-text {
    font-size: 16px;
}


/* DEATH */
.end-life__death {
    display: flex;
}

.death__content {
    display: flex;
    width: 1080px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
    padding-top: 65px;
}

.death__text {
    padding-left: 80px;
}

.death-text--1 {
    width: 840px;
}

.death-text--1 > .death-text {
    margin-bottom: 15px;
}

.death-img {
    margin-bottom: 5px;
}

.death-end {
    display: flex;
}

.death-end__content {
    /* display: flex; */
    width: 1080px;
    border-left: 1px rgba(0, 0, 0, 0.3) solid;
    padding-top: 55px;
}

.death-end-text {
    padding-left: 80px;
    width: 889px;
}

/* FOOTER */

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icon:not(:last-child) {
    margin-right: 33px;
}

.footer-line {
    padding: 0;
    margin: 0;
}


